<header class="main-header-container">
    <div class="main-header container">
        <h5>

            <a class="main-logo" href="http://127.0.0.1:8000/authors/register/">
                <span class="main-logo-text">Cadastrar</span>
            </a>
            
        </h5>

        <h1>

            <a class="main-logo" href="{% url 'portal:home' %}">
                <i class="fa-sharp fa-solid fa-user-shield main-logo-icon"></i>
                <span class="main-logo-text">Portal do cidadão!</span>
            </a>
            
        </h1>

        <h5>

            <a class="main-logo" href="{% url 'portal:login' %}">
                <span class="main-logo-text">Login</span>
            </a>
            
        </h5>
    </div>
</header>